.profile {
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: var(--primary-light-grey-color);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding-bottom: 16px;
}

.avatar {
    display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        box-shadow: rgb(255, 255, 255) -3px -3px 7px, rgb(206, 206, 209) 3px 3px 5px;
}
.name {
    font-size: 38px;
    color: var(--);
    font-weight: 600;
}

.tag {
    font-size: 26px;
    color: var(--primary-grey-color);
}

.location {
    font-size: 26px;
    color: var(--primary-grey-color);
}

.stats {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.label {
    font-size: 22px;
    font-weight: 500;
}

.value {
    font-size: 32px;
        font-weight: 600;
}